@model myiotprojects.Models.Admin.Role

<div class="container bg-white">
    <form asp-controller="Admin" asp-action="CreateRole" method="post">
        <div class="card-header">
            <h4 class="modal-title">@ViewData["Create"] @ViewData["Role"]</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>@ViewData["Name"]</label>
                <input asp-for="@Model.Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-info" value="@ViewData["Save"]">
        </div>
    </form>
</div>