@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model RegisterModel

@{
    Layout = "/Areas/Identity/Pages/AuthLayout.cshtml";
}
<div id="signup">
    <div class="container">
        <div id="signup-row" class="row justify-content-center align-items-center">
            <div id="signup-column" class="col-md-6">
                <div id="signup-box" class="col-md-12">
                    <form id="signup-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">@localizer["SignUp"]</h3>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" class="text-info"></label><br>
                            <input asp-for="Input.Email" class="form-control">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-info">@localizer["Nickname"]</label><br>
                            <input asp-for="Input.Nickname" class="form-control">
                            <span asp-validation-for="Input.Nickname" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-info">@localizer["Password"]</label><br>
                            <input asp-for="Input.Password" class="form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="text-info">@localizer["ConfirmPassword"]</label><br>
                            <input asp-for="Input.ConfirmPassword" class="form-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="@localizer["Submit"]">
                        </div>
                        <div id="login-link" class="text-right">
                            <a href="/Identity/Account/Login" class="text-info">@localizer["LoginHere"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />
